#logo {
    float: left;
    margin: 0;
    padding: 0;
}

#logo>h3 {
    margin: 0;
    padding: 0;
}

#mastside {
    float: right;
}

#signoutform {
    float: right;
    margin-left: 1em;
}


#main {
    clear: both;
}
